absl-py
attrs
autopy
cffi
contourpy
cycler
EasyProcess
entrypoint2
flatbuffers
fonttools
importlib-resources
kiwisolver
matplotlib
mediapipe
MouseInfo
mss
numpy
opencv-contrib-python
opencv-python
packaging
Pillow
protobuf
PyAutoGUI
pycparser
PyGetWindow
PyMsgBox
pynput
pyparsing
pyperclip
PyRect
pyscreenshot
PyScreeze
python-dateutil
pytweening
six
sounddevice
wxPython
zipp
